.parent{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}
a {
    text-decoration: none;
}

.top-header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 10%;
    background-color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}

/* .logo{
    
} */
.top-header a img {
    width: 200px;
    margin-left: -50px;
    margin-top: -25px;
    margin-bottom: -25px;
}

.navbar a {
    position: relative;
    font-size: 18px;
    color: #000;
    font-weight: 500;
    margin-left: 40px;
}

.navbar a::before {
    content: '';
    position: absolute;
    top: 100%;
    left: 0;
    width: 0;
    height: 2px;
    background: #000;
    transition: .5s;

}

.navbar a:hover::before {
    width: 100%;
    cursor: pointer;

}

.top-header button {
    border: 2px solid gray;
    border-radius: 10px;
    padding: 10px;
    width: 90px;
    height: 50px;
    background: transparent;
    color: #000;
    font-size: 18px;
    font-weight: 500;
    transition: .5s;
    margin-left: 10px;
}

.top-header button:hover {
    background: darkgrey;
    color: #fff;
    cursor: pointer;
    border: none;

}
.hero {
    position: relative;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: url('../../Images/BackG.jpg') no-repeat;
    background-position: center;
    background-size: cover;

}
.hero .hero-content{
    font-size: 35px;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: rgb(212, 212, 212);
    gap: 20px;
}
.hero-content h1{
    font-weight: 600;
}
.hero-content span{
    font-weight: 400;
}
.hero-content button{
    padding:10px 20px ;
    border: 2px solid rgb(212, 212, 212);
    border-radius: 10px;
    background: transparent;
    color: white;
    width: 150px;
    margin-top: 50px;
    font-size: 20px;
    font-weight: 400px;
    transition: .5s;
}
.hero-content button:hover{
    background: rgb(212, 212, 212);
    color: black ;
    cursor: pointer;
}

.key-features{
    max-width: 1300px;
    height: 100vh;
    margin: auto;
}
.key-features .title{
    display: flex;
    text-align: center;
    justify-content: center;
    margin: 20px;
    font-size: 35px;
    font-weight: 700;
    color: rgb(89, 89, 89);
    text-decoration: underline;

}
.key-features .cards{
    display: flex;
    /* flex-direction: row;
    align-items: center;
    justify-content: center; */
    flex-wrap: wrap;
    justify-content: space-between;
    

}
.key-features .cards .card{
    flex: 0 0 calc(33.33% - 40px);
    max-width: calc(33.33% - 40px);
    width: 100%;
    height: 40vh;
    border-radius: 10px;
    box-shadow: 0px 10px 8px #999;
    display: flex;
    justify-content: center;
    margin: 15px;
    transition: transform 0.2s ease, box-shadow 0.2s ease;
    
}
.key-features .cards .card:hover{
    transform: translateY(-5px);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
}

.key-features .cards .card.one{
    background: url('../../Images/1.jpg') no-repeat;
    background-position: center;
    background-size: cover;
}
.key-features .cards .card.two{
    background: url('../../Images/2.jpg') no-repeat;
    background-position: center;
    background-size: cover;
}
.key-features .cards .card.three{
    background: url('../../Images/3.jpg') no-repeat;
    background-position: center;
    background-size: cover;
}
.key-features .cards .card.four{
    background: url('../../Images/4.jpg') no-repeat;
    background-position: center;
    background-size: cover;
}
.key-features .cards .card.five{
    background: url('../../Images/5.jpg') no-repeat;
    background-position: center;
    background-size: cover;
}
.key-features .cards .card.six{
    background: url('../../Images/6.jpg') no-repeat;
    background-position: center;
    background-size: cover;
}

.key-features .cards .card .card-title{
    font-size: 26px;
    font-weight: 700;
    color: rgb(84, 84, 84);
    
}


.contact{
    
    flex: 1; /* Allows the contact section to take up available space */
    margin: auto;
}
.contact .title{
    display: flex;
    text-align: center;
    justify-content: center;
    margin: 20px;
    font-size: 35px;
    font-weight: 700;
    color: rgb(91, 91, 91);
    text-decoration: underline;

}
.contact-form{
    display: flex;
    justify-content: center;
    align-items: center;
    
}
form{
    max-width: 800px;
    width: 100%;
    background: #fff;
    padding: 25px 25px 30px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0, .1);
    color: #333;
    margin: 25px;
}

form h2{
    font-size: 26px;
    font-weight: 600;
    text-align: center;
    color: #8a8a8a;
}

form .input-box{
    margin-top: 20px;
}
.input-box .field{
    width: 100%;
    height: 50px;
    background: transparent;
    border: 2px solid #8a8a8a;
    outline: none;
    border-radius: 6px;
    padding: 15px;
    font-size: 16px;
    color: #525252;
    margin-top: 10px;
}
.input-box .field.message{
    height: 200px;
    resize: none;
}
form button{
    padding:10px 20px ;
    border: 2px solid #8a8a8a;
    border-radius: 6px;
    background: transparent;
    color: #8a8a8a;
    width: 150px;
    margin-top: 20px;
    font-size: 20px;
    font-weight: 400;
    transition: .5s;
}
form button:hover{
    background: rgb(186, 186, 186);
    color: black ;
    cursor: pointer;
    
}
.footer {
    width: 100%;
    background-color: #8a8a8a;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 18px 20px;
    text-align: center;
    box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.1);
    font-size: 22px;
    
}

.footer p {
    margin: 0; /* Remove any default margins for better alignment */
    line-height: 1.5; /* Improve text spacing */
}

@media screen and (min-device-width: 768px) and (max-device-width: 1024px){
    .top-header a img{
        width: 130px;
    }
    .navbar a{
        font-size: 16px;
        margin-left: 20px;

    }
    .top-header button{
        font-size: 16px;
        padding: 6px;
        width: 80px;
        height: 40px;
        margin-left: 5px;
    }
    .hero .hero-content{
        font-size: 22px;
        gap: 10px;
    }
    .hero-content h1{
        font-weight: 500;
    }
    .hero-content span{
        font-weight: 400;
    }
    .hero-content button{
        padding:5px 10px ;
        width: 120px;
        margin-top: 30px;
        font-size: 16px;
        font-weight: 300;
        
    }
    .key-features{
       margin-bottom: 200px;

    }
    .title{
        margin: 10px;
        font-size: 24px;
        font-weight: 600;
    }
    .key-features .cards .card {
        flex: 0 0 calc(50% - 55px); /* Two cards per row */
        max-width: calc(50% - 55px);
        height: 35vh; /* Adjust height for better responsiveness */
        margin: 15px 25px;
    }
    .key-features .cards .card .card-title{
        font-size: 20px;
        font-weight: 700;
    }
    form{
        max-width: 700px;
        width: 100%;
        margin: 20px;
    }
    form h2{
        font-size: 22px;
    }
    form .input-box{
        margin-top: 20px;
    }
    .input-box .field{
        width: 100%;
        height: 40px;        
        padding: 12px;
        font-size: 14px;
        margin-top: 7px;
    }
    .input-box .field.message{
        height: 140px;

    }
    form button{
        padding:7px 14px ;
        width: 130px;
        margin-top: 14px;
        font-size: 16px;
        font-weight: 400;
        
    }
    .footer{
        font-size: 16px;
    }
    
}